@model ShoppingListApp.Data.ShoppingListItem

@{
    ViewData["Title"] = "Usuń listę";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<h1>@ViewData["Title"]</h1>

<p>Czy na pewno chcesz usunąć tę listę: <strong>@Model.ListName</strong>?</p>

<form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Id">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Anuluj</a>
</form>


